.DS_Store
.env
.pyenv
.flaskenv
*.pyc
*.pyo
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

bundle.css
bundle.js
**/static/widget.css
**/static/widget.js
