<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Tigers are great and tacos are tasty" />
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://unpkg.com/@shopify/polaris@4.22.0/styles.min.css"
  />
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>Tigers & Tacos</title>
   <meta name="description" content="This is a boilerplate created by Tigers & Tacos">
   <meta name="author" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://unpkg.com/@shopify/app-bridge"></script>
    <link rel="stylesheet" href="/shopify/static/bootstrap-polaris.min.css">
   <script>
        // Put the app API token in the window so that you can use it to make authenticated requests to the Flask backend.
        window.authToken = "{{ auth_token }}";
        window.backend = "{{ backend }}";
        var AppBridge = window['app-bridge'];
        var Actions = window['app-bridge'].actions;
        var Redirect = Actions.Redirect;

        var createApp = AppBridge.default;
        var apiKey = "{{ shopify_api_key }}";
        var app = createApp({
            apiKey: apiKey,
            shopOrigin: "{{ shop }}"
        });

    function getTaco() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          console.log(xhr.response);
          var response = JSON.parse(xhr.response);
          var ele = document.getElementById("tacoText");
          ele.innerHTML = response.message;
        }
      };

      xhr.open('POST', window.backend + "/shopify/demo-post-request", true);
      xhr.setRequestHeader('Authorization', 'Bearer ' + window.authToken);
      xhr.send('');
    }

   </script>
    <style>
        .mt {
            margin-top: 10px;
        }
    </style>
</head>

<body>
<main class="container">
    <div style="margin-top:40px">
    <div class="display-3" id="shop-url">You made it! 🥳 </div>
      <p class="mt">This page is using the <a href="https://github.com/ablesense/bootstrap-polaris" target="_blank">Bootstrap Polaris theme</a> which gives you the things you need to adhere to the Polaris style guide required by Shopify.</p>
      <p class="mt">You can use whatever tools you like to create the app, there are some decent guides out there for React and other frameworks. </p>
  </div>
  <div style="margin-top:50px; margin-bottom: 100px">
      <div class="card">
          <div class="card-body">
            <h3>Find me a taco</h3>
            <p>We love tacos and believe your should eat them all the time.</p>
            <p><button type="button" class="btn btn-primary" onclick="getTaco()">Tell me which taco I should eat</button></p>
            <p class="display-3" id="tacoText"></p>
          </div>
      </div>
  </div>
</main>
</body>
